.DS_Store
_site/
_site/css/style.css
_site/css/swipebox.min.css
_site/feed.xml
_site/home.html
_site/ilessisilva.html
_site/jhe.html
_site/julianaperdigao.html
_site/kristoffsilva.html
_site/leonoraweissmann.html
_site/luisalacerda.html
_site/rafaelmacedo.html
_site/sergioperere.html
_site/thiagoamud.html
assets/.DS_Store
