<head>
<title>{{ page.title }}</title>

    <meta name="description" content="{{site.title}} - {{page.title}}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" href="/favicon.ico" />
    
    <!-- Meta tags for SEO and social sharing -->
    <meta name="description" content="{{site.title}} - {{page.title}}">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <link rel="canonical" href="https://avozasos.com/" />
    <meta
      name="description"
      content="A VOZ A SÓS"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="{{site.title}} - {{page.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://avozasos.com/" />
    <meta property="og:description" content="Quando canções e imagens comungam nascimentos há vídeo-canções? Quando o sentido do que se diz não é apenas sonoro há vídeo-canções? A voz, a sós - uma série de 9 vídeo-canções." />
    {% if page.cover %}
        <meta property="og:image" content="{{ site.url }}/assets/covers/{{ page.cover }}.png" />
    {% else %}
        <meta property="og:image" content="{{ site.url }}/assets/covers/home.png" />
    {% endif %}   
    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />

    <!-- Import the webpage's javascript file -->
    <script src="{{ site.baseurl }}/js/script.js" defer></script>

    <!-- Import the swipebox javascript file -->  
    {% if page.swipebox %}
        <link rel="stylesheet" href="{{ site.baseurl }}/css/swipebox.min.css" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
        <script src="{{ site.baseurl }}/js/jquery.swipebox.min.js"></script>
        <script src="{{ site.baseurl }}/js/swipebox.js"  type="text/javascript"></script>
    {% endif %}
    
    <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-14TYK2S9ES"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-14TYK2S9ES');
        </script>   
</head>