<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include navbar.html %}
  
    <div class="title" id="title">
        <h6>A VOZ, A SÓS</h6>
    </div> 
      
     <div class="icones">  
         
        <div class="icone1 icone">
            <div class="movement">
                <a href="/kristoffsilva" class="nav-item"><img src="/assets/01.png" class="img1"></a>
            </div>
            <p>KRISTOFF SILVA</p>
        </div>  

        <div class="icone2 icone">
            <div class="movement">
            <a href="/thiagoamud" class="nav-item"><img src="/assets/02.png" class="img1"></a>
            </div>
            <p>THIAGO AMUD</p>
        </div> 
         
        <div class="icone9 icone">
            <div class="movement">
            <a href="/ilessisilva" class="nav-item"><img src="/assets/09.png" class="img1"></a>
            </div>
            <p>ILESSI SILVA</p>
        </div>

        <div class="icone7 icone">
            <div class="movement">
            <a href="/leonoraweissmann" class="nav-item"><img src="/assets/07.png" class="img1"></a>
            </div>
            <p>LEONORA WEISSMANN</p>
        </div>  
         
        <div class="icone8 icone">
            <div class="movement">
                <a href="/julianaperdigao" class="nav-item"><img src="/assets/08.png" class="img1"></a>
            </div>
            <p>JULIANA PERDIGÃO</p>
        </div> 
         
        <div class="icone6 icone">
            <div class="movement">
            <a href="/sergioperere" class="nav-item"><img src="/assets/06.png" class="img1"></a>
            </div>
            <p>SÉRGIO PERERÊ</p>
        </div>
        
            <div class="icone3 icone">
            <div class="movement">
                <a href="/jhe" class="nav-item"><img src="/assets/03.png" class="img1"></a>
            </div> 
                <p>JHÊ</p>
         </div>

        <div class="icone4 icone">
            <div class="movement">
            <a href="/luisalacerda" class="nav-item"><img src="/assets/04.png" class="img1"></a>
            </div><p>LUISA LACERDA</p>
        </div>  

        <div class="icone5 icone">
            <div class="movement">
            <a href="/rafaelmacedo" class="nav-item"><img src="/assets/05.png" class="img1"></a>
            </div>
            <p>RAFAEL MACEDO</p>
        </div> 





     </div>   
      <br>
              <div class="second-nav">
                <p>ISSO NÃO É UM DISCO?<br><b><a href="/sobre" class="sobre">SAIBA MAIS</a></b></p>
              </div>
      <br>

    {% include social.html %}

  </body>
    <br><br><br>
    {% include footer.html %}

</html>