<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/map_style.css">
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>

    
<body>
  
<div id="map"></div>
  
  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //Mapbox token 
    
      var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/saralgc/cl6npyx3q003i16ogluxu7cn4',
      center: [2.871032, 43.165596], // starting position
      zoom: 15,// starting zoom
      //transformRequest: transformRequest,
      //minZoom: 15,
      //maxZoom: 18.5,
      interactive: false 
    });

      var geojson = {
        'type': 'FeatureCollection',
        'features': [
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.8698515, 43.1636215]
            },
            'properties': {
                'Place': 'Transborde 1',
                'Audio': 'leonora1'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.8704807, 43.1643273]
            },
            'properties': {
                'Place': 'Transborde 2',
                'Audio': 'leonora2'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.8730949, 43.1673977]
            },
            'properties': {
                'Place': 'Transborde 3',
                'Audio': 'leonora3'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.8805946, 43.168124]
            },
            'properties': {
                'Place': 'Transborde 4',
                'Audio': 'leonora4'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.8688221, 43.1675956]
            },
            'properties': {
                'Place': 'Transborde 5',
                'Audio': 'leonora5'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.861032, 43.165596]
            },
            'properties': {
                'Place': 'Transborde 6',
                'Audio': 'leonora6'
            }
        },
        {
            'type': 'Feature',
            'geometry': {
                'type': 'Point',
                'coordinates': [2.871032, 43.165596]
            },
            'properties': {
                'Place': 'Transborde 7',
                'Audio': 'leonora7'
            }
        }
        ]
    };
      
      geojson.features.forEach(function (marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';
        // make a marker for each feature and add it to the map
        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(
                `<audio controls style="width:100%;" controlsList="nodownload" autoplay><source src="../assets/sounds/leonora1.mp3" type="audio/mpeg"></audio>` + 
                `<h2>` + 
                marker.properties.Place + `</h2>`
            )
        )
        .addTo(map);
    });
      map.fitBounds(bbox, { padding: 50 });
      map.scrollZoom.disable(); 
</script>

  
<script>
  
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

          
</body>

</html>