<!DOCTYPE html>
<html lang="pt">
    {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include navbar.html %}
      <br>
      <div class="pagecontent2">
      <div class="video-wrap">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ page.videocode }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

        <div class="pagecontent">   
              <div class="pagetitle"> 
                  <div class="interprete">{{ page.who }}</div>
                  <div class="cancao">{{ page.song }}</div
            </div>
                  <br>             
              <br>
              <br><br><br>
            {% include swipebox.html %}
            <p style="text-align: left; padding-left:3%;">Fotos {{ page.creditos }}</p>
            {% include carousel.html %}
        </div>
        {% include social.html %}
    <br><br><br>
    {% include footer.html %}
    </div>
  </body>
</html>